@font-face {
  font-family: Lunchtype Medium;
  src: url("lunchtype24-medium-expanded-webfont.woff2");
  font-style: normal;
}

@font-face {
  font-family: Lunchtype;
  src: url("lunchtype22-regular-webfont.woff2");
  font-style: normal;
}

@font-face {
  font-family: Glyph Mountain;
  src: url("GlyphWorld-Mountain.otf");
  font-style: normal;
}
