body {
  font-family: Lunchtype;
  font-size: 16px;

  background-color: black;
  color: #fff;
  width: 100vw;
}

canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

h3 {
  font-family: Glyph Mountain;
  font-size: 3vmax;
  transition: all 0.2s ease-in-out;
  color: #53ff50;
}

h3:hover {
  cursor: pointer;
  font-family: Glyph Forest;
  background-color: red;
  color: white;
}

section.container {
  height: 100vh;
  text-align: center;
  position: relative;
}

section.container .artists {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.artists h3 {
  margin: 0 0 3.5rem 0;
}
