@font-face {
  font-family: Lunchtype;
  src: url("./lunchtype24-medium-expanded-webfont.woff");
  font-style: normal;
}

@font-face {
  font-family: Glyph Mountain;
  src: url("./GlyphWorld-Mountain.otf");
  font-style: normal;
}

@font-face {
  font-family: Glyph Forest;
  src: url("./GlyphWorld-Forest.otf");
  font-style: normal;
}

@font-face {
  font-family: Buffon;
  src: url("./Buffon-Regular.otf");
  font-style: normal;
}

@font-face {
  font-family: Savate;
  src: url("./savate-regular-webfont.woff2");
  font-style: normal;
}
