@font-face {
  font-family: Lunchtype;
  src: url("./lunchtype24-medium-expanded-webfont.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: Glyph Mountain;
  src: url("./GlyphWorld-Mountain.otf");
  font-style: normal;
}

@font-face {
  font-family: Glyph Forest;
  src: url("./GlyphWorld-Forest.otf");
  font-style: normal;
}

@font-face {
  font-family: Buffon;
  src: url("./Buffon-Regular.otf");
  font-style: normal;
}

@font-face {
  font-family: Savate;
  src: url("./savate-regular-webfont.woff2"), format("woff2");
  font-style: normal;
}

@font-face {
  font-family: Space Grotesk;
  src: url("./SpaceGroteskVariable.ttf");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: Compagnon;
  src: url("./Compagnon-Roman.woff2"), format("woff2"),
    url("./Compagnon-Roman.woff"), format("woff");
  font-style: normal;
}

@font-face {
  font-family: Self Modern;
  src: url("./bretagne_self-modern_regular_web.woff2") format("woff2"),
    url("./bretagne_self-modern_regular_web.woff") format("woff"),
    url("./bretagne_self-modern_regular_web.ttf") format("trutype");
  font-style: normal;
}

@font-face {
  font-family: Self Modern;
  src: url("./bretagne_self-modern_italic_web.woff2") format("woff2"),
    url("./bretagne_self_modern_italic_web.woff") format("woff"),
    url("./bretagne_self_modern_italic_web.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: Self Modern Text;
  src: url("./bretagne_self-modern_text_web.woff2"), format("woff2"),
    url("./bretagne_self-modern_text_web.woff"), format("woff"),
    url("./bretagne_self-modern_text_web.ttf"), format("truetype");
  font-style: normal;
}

@font-face {
  font-family: Syne;
  src: url("./Syne-Bold.otf");
}

.savate {
  font-family: Savate;
}

.self {
  font-family: Self Modern;
}

.self-text {
  font-family: Self Modern Text;
}

.compagnon {
  font-family: Compagnon;
}

.buffon {
  font-family: Buffon;
}

.space {
  font-family: Space Grotesk;
}

.lunch {
  font-family: Lunchtype;
}

.glyph-forest {
  font-family: Glyph Forest;
}

.glyph-mountain {
  font-family: Glyph Mountain;
}

.italic {
  font-style: italic;
}

.syne {
  font-family: Syne;
}

.outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
